.container{
    background-color: white;
    margin: 72px 280px 0 212px;
    padding: 28px;
}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerParts{
    display: flex;
    gap:16px;
    align-items: center;
    padding: 8.5px;
}
.headerPart{
    cursor: pointer;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
}
.headerPartActive{
    cursor: pointer;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background: linear-gradient(290.83deg, #855CBF 5.01%, #D444B4 53.82%, #FF493A 100.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
.headerOptions{
    display: flex;
    align-items: center;
    gap: 8px;
}
.addNewRequest{
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 4px;
    cursor: pointer;
}
.addNewRequest__icon{

}
.addNewRequest__text{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
}
.newClient{
    cursor: pointer;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
}
.headerDots{

}
.profileStats{
    position: relative;
    padding: 24px 24px 28px;
    background: #F7F9FB;
    border-radius: 16px;
}
.profileStats__user{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #1C1C1C;
}
.profileStats__datePerson{
    margin-top: 16px;
    margin-bottom: 20px;
    display: flex;
    gap: 12px;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}
.profilePersonRole,.profilePersonAddress,.profilePersonEmail{
    display: flex;
    align-items: center;
    gap: 4px;
}
.profileStats__avatar{
 position: absolute;
    right: 24px;
    top:24px;
}