.container{
    background-color: white;
    margin: 72px 280px 0 212px;
    padding: 28px;
}


.title_stats{
    display: flex;
    align-items: center;
}
.title_stats__body{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.title_stats__svg{

}
.blocks_stats{
    margin-top:8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 28px;
}
.block_stat{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    background: #E3F5FF;
    border-radius: 16px;
    min-width: 202px;
}
.block_stat__naming{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Black/100% */

    color: #1C1C1C;
}
.block_stat__counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block_stat__counter_number{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    /* Black/100% */

    color: #1C1C1C;
}
.block_stat__counter_percent{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: right;

    /* Black/100% */

    color: #1C1C1C;
}
.line_range_wrapper{
    margin-top: 28px;
    display: grid;
    grid-template-columns: 3.2fr 1fr;
    grid-column-gap: 28px;
}
.line_chart_wrapper{

}
.line_chart_title{
    display: flex;
    align-items: center;
}
.lineTitle__fields{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 13px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.lineTitle__fields_el{
    cursor: pointer;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
}
.lineTitle__fields_elActive{
    color: #1C1C1C;
}
.lineTimeOptions_wrapper{
    padding-left: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.lineTitle__time{
    display: flex;
    gap: 13px;
    align-items: center;
}
.lineTitle__time_el{
    display: flex;
    align-items: center;
}
.iconLineTime{

}
.namingLineTime{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #1C1C1C;
}
.lineTitle__options{
    cursor: pointer;
}
.line_chart_body{
    margin-top: 12px;
    height: 300px;
}
.range_wrapper{
    padding: 24px;
    background: #F7F9FB;
    border-radius: 16px;
}
.range_title{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Black/100% */

    color: #1C1C1C;
    margin-bottom: 16px;
}
.range_body{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.range_element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.range_element__name{
    font-family:'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #1C1C1C;
    white-space: nowrap;
}
.range_element__input{
    display: flex;
    position: relative;
}
.range_start{
    position: absolute;
    top: -3px;
    background: linear-gradient(290.83deg, #855CBF 5.01%, #D444B4 53.82%, #FF493A 100.06%);
    min-height: 12px;
    min-width: 1px;
}
.range_element__input input[type=range] {
    -webkit-appearance: none;
    height: 7px;
    background: linear-gradient(290.83deg, #855CBF 5.01%, #D444B4 53.82%, #FF493A 100.06%);
    border-radius: 0px 4px 4px 0px;
    background-repeat: no-repeat;
}
.range_element__input input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    border-radius: 0px 4px 4px 0px;
}
.range_element__input input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 0;
}
/*bar и pie chart*/
.bar_pie_chart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
}
.barChart{
    padding: 24px;
}
.barChart__title{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Black/100% */

    color: #1C1C1C;
    margin-bottom: 16px;
}
.barChart__graph{
    height: 189px;
}
tspan{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.pieChart{
    padding: 24px;
}
.pieChart__title{
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Black/100% */

    color: #1C1C1C;
    margin-bottom: 50px;
}
.pieChart__graph{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px;
}
.pieChart__graph_body{
    height: 118px;
    display: flex;
    justify-content: flex-end;
}
.pieChart__graph_description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pieInfoEl{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.pieInfoEl__name{
    display: flex;
    align-items: center;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #1C1C1C;
}
.pieInfoEl__value{
    text-align: right;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Black/100% */

    color: #1C1C1C;
}
